**/target/
**/node_modules/
frontend/dist/
**/data/
.run/
.idea/
*.iml
.env
.env.local
**/application-local.yml
frontend/dist-public/
public-prototype/
artifacts/
.env.*
!.env.example
**/*.log
**/*.mv.db
**/*.trace.db
